
@{
    ViewBag.Title = "忘记密码？";
    
}

<div class="content">
    <div id="main">
        <div class="title">
            <h2>找回方式一</h2>
            绑定的手机可用
        </div>
        <div class="item">
            <i class="myicon myicon-phone"></i>
            <span class="type">短信验证</span>
            <span class="btn-container">

                <a href="/account/pwdResetMobile">
                    <button>去找回</button>
                </a>

            </span>
        </div>
        <div class="title">
            <h2>找回方式二</h2>
            绑定的邮箱可用
        </div>
        <div class="item">
            <div class="myicon myicon-mail"></div>
            <span class="type">邮箱验证</span>
            <span class="btn-container">


                <a href="/account/pwdResetEmail">
                    <button>去找回</button>
                </a>

            </span>
        </div>
    </div>

</div>




@section Scripts {
   <script type="text/javascript">

        seajs.use("modules/manage/pwdreset");
</script>
}
