@{
    ViewBag.Title = "重置密码确认";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        您的密码已经修改成功，请 @Html.ActionLink("点击这里登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
