@{
    Layout = null;
}
<link href="http://jing.xueqitian.com/Content/css/css.css" rel="stylesheet">
<link charset="utf-8" rel="stylesheet" href="http://jing.xueqitian.com//sea-modules/modules/order/buynew.css?20170420">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>支付结果</title>
</head>
<body>
    <div id="root">
        <header class="ck-header">
            <div class="container">
                <div class="trade-logo">支付结果</div>
                <span >你好，@ViewBag.Name</span>
                <a href="#" class="J_help" target="_blank">帮助中心</a>
            </div>
        </header>
        <div class="ck-product" style="height:600px;vertical-align:middle;text-align:center;">
            <p style="margin-top:200px;"><img src="http://image.xueqitian.com/assert/icon/ok.png" />支付成功！您可以进入 <a class="btn btn-success" href="/home/index">学习中心</a> 查看课程</p>
        </div>

            
   </div>
    

</body>
</html>

