@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">网站升级维护中  5：00前无法正常访问，敬请理解</h1>
@*<h2 class="text-danger">@Model.Exception.Message</h2>*@
@*<h2 class="text-danger">@Model.Exception.InnerException.Message</h2>*@


