@model FYstudentMgr.Models.Courses.Course
<div class="course-detail-content">

    <div class="es-piece">
        <div class="piece-header">
            课程介绍
        </div>
        <div class="piece-body p-lg clearfix">
            <p>@Model.CourseName</p>

            <p>讲师：秦元坤</p>

            <p>@Model.Description</p>

        </div>
    </div>
</div>
