@model FYstudentMgr.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "修改密码";
}
<div class="content">
    <div id="nav">
        <dl>
            <dt><i class="icon-money"></i> 我的账户</dt>
            <dd>
                <a href="/manage/index">账户首页</a>
            </dd>
            @*<dd>
                <a href="//instalment.hujiang.com/pc/acct/myAcctAll">优学宝分期</a>
            </dd>*@
            <dd>
                <a href="#">我的银行卡</a>
            </dd>
            <dd>
                <a href="/manage/orderlist" >我的订单</a>
            </dd>
            <dt><i class="icon-user"></i> 个人设置</dt>
            <dd>
                <a href="/manage/info" class="">基本资料</a>
            </dd>
            <dd>
                <a href="/manage/secure" class="active">帐号安全</a>
            </dd>
        </dl>
    </div>
    <div id="form-container">
        <div class="title">
            <h2>修改登录密码</h2>
        </div>
        <div class="step-1">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div>
                    <div class="list">
                        <label>　原登录密码</label>
                        <input type="password" name="OldPassword" id="pwd" maxlength="20">
                        <div class="info  left-custome2">
                            <span><em></em></span>
                            <div class="inner">
                            </div>
                        </div>
                        <a href="/manage/pwdReset">忘记密码</a>
                    </div>
                </div>
                <div>
                    <div class="list">
                        <label>设置登录密码</label>
                        <input type="password" class="NewPassword" name="NewPassword" id="newpwd" maxlength="20">
                        <div class="tip left-custome">
                            <span><em></em></span>
                            <div class="inner">
                                6-20位字母、数字或符号混合<br>
                                不可与用户名一致
                            </div>
                        </div>

                        <div class="info  left-custome">
                            <span><em></em></span>
                            <div class="inner">

                            </div>
                        </div>
                    </div>
                </div>
                <ul class="strong">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div>
                    <div class="list">
                        <label>确认登录密码</label>
                        <input type="password" name="ConfirmPassword" id="confirmpwd"maxlength="20">
                        <div class="info  left-custome">
                            <span><em></em></span>
                            <div class="inner">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="step1-next btn-common" id="submit" type="submit">确定</button>
            }
               
           
        </div>
    </div>
</div>

@Html.Partial("../Shared/Tool")
@section Scripts {
    <script type="text/javascript">

        seajs.use("modules/manage/changepassword");
    </script>
}

