@model FYstudentMgr.Models.Courses.Class
<div class="pull-left">
    @if (ViewBag.State == 0)
    {
        <h1 class="">@Model.ClassName（免费体验班）</h1>
    }
    else
    {
        <h1 class="">@Model.ClassName</h1>
    }
    
    <div class="mgt10 manager">
        <ul class="list-unstyled ">
            @*<li class="pull-left text-center mgr20">
                <a target="_blank" class="avatar" href="http://www.kejuwang.com/profile/10102">
                    <img src="http://stat.kejuwang.com/avatar/10102.jpg" alt="班主任">
                    <div class="f12">班主任</div>
                </a>
            </li>*@




           

        </ul>
    </div>
</div>
