@model FYstudentMgr.Models.Students.Student

@{
    ViewBag.Title = "AddSchedule";
}
<link href="~/Content/control.css" rel="stylesheet" />
<style>
    .table-bordered td {
        text-align:center;
        vertical-align:middle;
        padding:0px;
        font-size:16px;
    }
    input[type=checkbox] {
	    visibility: hidden;
    }
    .checkbox {
	    width: 40px;
	    height: 40px;
	    background: #ddd;
	    margin:0px;
 
	    position: relative;
	    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    }

    .checkbox label {
	    display: block;
	    width: 30px;
	    height: 30px;
    
	    -webkit-transition: all .5s ease;
	    -moz-transition: all .5s ease;
	    -o-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	    transition: all .5s ease;
	    cursor: pointer;
	    position: absolute;
	    top: 5px;
	    left: 5px;
	    z-index: 1;
 
	    background: #333;
 
	    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    }
    /**
     * Create the checked state
     */
    .checkbox input[type=checkbox]:checked + label {
	    background: #26ca28;
    }
</style>

<div>      
    @using (Html.BeginForm("ConfirmSchedule", "Student", new { id = Model.StudentID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="table table-bordered" >
            <tr>
                <th></th><th>周一</th><th>周二</th><th>周三</th><th>周四</th><th>周五</th><th>周六</th><th>周日</th>
            </tr>
             @{
                 var list = (List<String>)ViewBag.List;
             }            
             @for (var i = 0; i <list.Count; i++)
            {
                <tr>
                     <td>@list[i].Trim()</td>
                     @for (var j = 1; j <= 7; j++){
                         <td>
                             <div class="checkbox">
                                 <input type="checkbox" name="schedule" id="checkbox@(i*7+j)" value=@(i*7+j) />
                                 <label for="checkbox@(i*7+j)"></label>
                             </div>
                        </td>
                     }                                                      
               </tr>

            }

                   
</table>
    <div class="row">
        <input type="submit" value="提交" class=" btn btn-danger btn-block col-md-5" />
        <div class="col-md-7">
            <div class="checkbox">
                <input type="checkbox" name="checkall" id="checkall" />
                <label for="checkall"></label>
                <div class="col-md-10 col-md-offset-8">全选</div>
            </div>
            
        </div>
    </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
    $(function () {
        
        $("#checkall").click(function () {
                var ischecked = this.checked;
                $("input:checkbox[name='schedule']").each(function () {
                        this.checked = ischecked;
                    });
            });
    });

    </script>
  }