@model FYstudentMgr.Models.Questions.QusBank
<div id="content" class="tab-pane active">
    <div class="mgt10">  
        <div class="row well"> 
              <div class="span4"> 
                  <img src="http://stat.kejuwang.com/img/tiku/cover_二级MS Office.png" alt=""> 
              </div>  
               <div class="offset4">    
                      <div class="f24 mgt10">二级MS Office</div>      
                      <p class="mgt20 muted">共<span class="text-success">497</span>题</p>      
                         <p class="muted">学习人数：<span class="text-success">1298</span>人</p>    
              </div>  
        </div>
    </div>
    <div class="sortlist mgt40">  
        <ul id="ulExercise" class="unstyled nav clearfix" style="width:690px">    
            <li class=""><a href="#chapterExam" data-toggle="tab" style="font-size:14px;">章节练习</a></li>    
            <li class=""><a href="#typeExam" data-toggle="tab" style="font-size:14px;">题型练习</a></li>    
            <li class="active"><a href="#collectExam" data-toggle="tab" style="font-size:14px;">错题集</a></li>  
        </ul>
    </div>
    <div class="tab-content mgt20">  
        <div class="tab-pane" id="chapterExam">    
            <div class="tikuchapter">      
                <ul class="unstyled">
                    <li>  
                        <a href="" class="tiku  span4">第1章 数据结构与算法</a>  
                        <span class="muted pull-right f12">共156道题</span>  
                        <div class="progress pos_rel span2">    
                            <span>我的进度:1%</span>    
                            <div class="bar bar-success" style="width: 1%;"></div>  
                        </div>  
                        <div class="chapter_hover">    
                            <a href="/exam/redo/office/chapter/4/20" target="_blank" class="btn btn-primary re_btn">重新做题</a>    
                            <a href="/exam/office/chapter/4/20" target="_blank" class="btn btn-success enter_btn">开始练习</a>  
                        </div>
                    </li>
                    <li>  
                        <a href="" class="tiku  span4">第2章 程序设计基础</a>  
                        <span class="muted pull-right f12">共15道题</span>  
                        <div class="progress pos_rel span2">    
                            <span>我的进度:0%</span>    
                            <div class="bar bar-success" style="width: 0%;"></div>  
                        </div>  
                        <div class="chapter_hover">    
                            <a href="/exam/redo/office/chapter/4/21" target="_blank" class="btn btn-primary re_btn">重新做题</a>    
                            <a href="/exam/office/chapter/4/21" target="_blank" class="btn btn-success enter_btn">开始练习</a>  
                        </div>
                    </li>
                    <li>  
                        <a href="" class="tiku  span4">第3章 软件工程基础</a>  
                        <span class="muted pull-right f12">共81道题</span>  
                        <div class="progress pos_rel span2">    
                            <span>我的进度:0%</span>    
                            <div class="bar bar-success" style="width: 0%;"></div>  
                        </div>  
                        <div class="chapter_hover">    <a href="/exam/redo/office/chapter/4/22" target="_blank" class="btn btn-primary re_btn">重新做题</a>    <a href="/exam/office/chapter/4/22" target="_blank" class="btn btn-success enter_btn">开始练习</a>  </div></li><li>  <a href="" class="tiku  span4">第4章 数据库设计基础</a>  <span class="muted pull-right f12">共103道题</span>  <div class="progress pos_rel span2">    <span>我的进度:0%</span>    <div class="bar bar-success" style="width: 0%;"></div>  </div>  <div class="chapter_hover">    <a href="/exam/redo/office/chapter/4/23" target="_blank" class="btn btn-primary re_btn">重新做题</a>    <a href="/exam/office/chapter/4/23" target="_blank" class="btn btn-success enter_btn">开始练习</a>  </div></li><li>  <a href="" class="tiku  span4">第5章 计算机基础知识</a>  <span class="muted pull-right f12">共64道题</span>  <div class="progress pos_rel span2">    <span>我的进度:0%</span>    <div class="bar bar-success" style="width: 0%;"></div>  </div>  <div class="chapter_hover">    <a href="/exam/redo/office/chapter/4/24" target="_blank" class="btn btn-primary re_btn">重新做题</a>    <a href="/exam/office/chapter/4/24" target="_blank" class="btn btn-success enter_btn">开始练习</a>  </div></li><li>  <a href="" class="tiku  span4">第6章 利用Word2010高效创建电子文档</a>  <span class="muted pull-right f12">共23道题</span>  <div class="progress pos_rel span2">    <span>我的进度:0%</span>    <div class="bar bar-success" style="width: 0%;"></div>  </div>  <div class="chapter_hover">    <a href="/exam/redo/office/chapter/4/25" target="_blank" class="btn btn-primary re_btn">重新做题</a>    <a href="/exam/office/chapter/4/25" target="_blank" class="btn btn-success enter_btn">开始练习</a>  </div></li><li>  <a href="" class="tiku  span4">第7章 通过Excel2010创建并处理电子表格</a>  <span class="muted pull-right f12">共23道题</span>  <div class="progress pos_rel span2">    <span>我的进度:0%</span>    <div class="bar bar-success" style="width: 0%;"></div>  </div>  <div class="chapter_hover">    <a href="/exam/redo/office/chapter/4/26" target="_blank" class="btn btn-primary re_btn">重新做题</a>    <a href="/exam/office/chapter/4/26" target="_blank" class="btn btn-success enter_btn">开始练习</a>  </div></li><li>  <a href="" class="tiku  span4">第8章 使用PowerPoint2010制作演示文稿</a>  <span class="muted pull-right f12">共24道题</span>  <div class="progress pos_rel span2">    <span>我的进度:0%</span>    <div class="bar bar-success" style="width: 0%;"></div>  </div>  <div class="chapter_hover">    <a href="/exam/redo/office/chapter/4/27" target="_blank" class="btn btn-primary re_btn">重新做题</a>    <a href="/exam/office/chapter/4/27" target="_blank" class="btn btn-success enter_btn">开始练习</a>  </div></li>      </ul>    </div>  </div>  <div class="tab-pane" id="typeExam">    <div class="tikuchapter">      <ul class="unstyled"><li>  <span href="" class="tiku span4">单项选择题</span>  <span class="muted pull-right f12">共497道题</span>  <div class="progress pos_rel span2">    <span>我的进度:0%</span>    <div class="bar bar-success" style="width: 0%;"></div>  </div>  <div class="chapter_hover">    <a href="/exam/redo/office/type/4/choice" target="_blank" class="btn btn-primary re_btn">重新做题</a>    <a href="/exam/office/type/4/choice" class="btn btn-success enter_btn" target="_blank">开始练习</a>  </div></li></ul>    </div>  </div>  <div class="tab-pane" id="testExam">     <a href="/testPaper/office/4" target="_blank" class="btn btn-large btn-keju">开始组卷</a>    <div class="tikuchapter">      <ul class="unstyled"></ul>    </div>  </div>  <div class="tab-pane active" id="collectExam">    <div class="tikuchapter">      <ul class="unstyled"><li>  <span href="" class="tiku span4">数据结构与算法</span>  <span class="muted pull-right f12">共2道题</span>  <div class="chapter_hover">    <a href="#" target="_blank" class="btn btn-primary re_btn hide">错题练习</a>    <a href="/collect/office/chapter/4/20" class="btn btn-success enter_btn" target="_blank">查看错题</a>  </div></li><li>  <span href="" class="tiku span4">程序设计基础</span>  <span class="muted pull-right f12">共0道题</span></li><li>  <span href="" class="tiku span4">软件工程基础</span>  <span class="muted pull-right f12">共0道题</span></li><li>  <span href="" class="tiku span4">数据库设计基础</span>  <span class="muted pull-right f12">共0道题</span></li><li>  <span href="" class="tiku span4">计算机基础知识</span>  <span class="muted pull-right f12">共0道题</span></li><li>  <span href="" class="tiku span4">利用Word2010高效创建电子文档</span>  <span class="muted pull-right f12">共0道题</span></li><li>  <span href="" class="tiku span4">通过Excel2010创建并处理电子表格</span>  <span class="muted pull-right f12">共0道题</span></li><li>  <span href="" class="tiku span4">使用PowerPoint2010制作演示文稿</span>  <span class="muted pull-right f12">共0道题</span></li><li>  <span href="" class="tiku span4">单项选择题</span>  <span class="muted pull-right f12">共2道题</span>  <div class="chapter_hover">    <a href="#" target="_blank" class="btn btn-primary re_btn hide">错题练习</a>    <a href="/collect/office/type/4/choice" class="btn btn-success enter_btn" target="_blank">查看解析</a>  </div></li></ul>    </div>  </div></div></div>