<div class="container mgt20 mgb80 text">
    <div class="row bg-white">
        <div class="col-lg-9 ">
            <div class="mgt20 bg-white pd20 mgr20">
                <div class="sortlist clearfix">
                    <h1>校园动态</h1>
                </div>
                <div class="tab-content mgt10">
                    <div id="feeds_school" class="active">
                        <ul id="listNewsFeed" class=" media-list"></ul>
                        <button type="button" id="btnMoreNewsFeed" class="btn btn_more" data-loading-text="加载中……">更多动态</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pd0">
            @Html.Action("Point", "Home")

        </div>
    </div>
</div>

